
/*Mise en place du bandeau supérieur*/
.logo {
    width: 150px;  
}


/*Mise en place de la section centrale*/
#header {
    height: 500px;
}

.header-btn {
    margin: 50px;
}

.accueil-titre {
    h1{
        @include font-H1();
    }//end h1
    p{
        @include font-H2();
    }//end p
}//end Accueil

nav {
    position: fixed;
    top: 30px;
    right: 50px;
    li {
        display: inline;
        margin: 10px;
        padding: 10px;
    }//end li
}//end navigation

#formulaire {
    display : none;
}

.accueil-footer {
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    font-family: $font-autres;
    font-size: 14px;
    width: 100%;
}