//Mise en forme de l'espace bandeau supérieur
.header {
    background-color: gray;
    height: 150px;
}

.imgHeader  {
    height: 50px;
}

.recherche {
    vertical-align: middle;
}

//mise en forme de l'espace présentation
.presentation {
    background-image: url('img/jumboaccueil.jpeg');
    background-attachment: fixed;
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding: 50px;
    h2 {
        @include font-H2();
    }
}
