//Testd de l'espace de connexion
#perso {
    display: none;
}





//Mise en place du header
.header {
    background-image: url('img/background-accueil2.jpg');
    background-attachment: fixed;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: 0px;
    h2 {
        @include font-H2();
    }
}

//mise en forme de l'espace en-tete
.entete {
    position: fixed;
    width: 100%;
}

.content-avatar {
    position: fixed;
    right: 50px;
    top: 35px;
    li {
        display: inline;
        margin: 10px;
        padding: 10px;
    }//end li
}

.recherche {
    vertical-align: top;
}

.imgHeader  {
    height: 75px;
    border-radius: 100%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s; 
    &:hover {
        box-shadow: 3px 3px $font-color;
        height: 65px;
    }
}

.menu-content {
    display: none;
    position : fixed;
    top: 80px;
    right: 35px;
    text-align: center;
    text-shadow: 1px 1px $font-bckgd;
    background-color: $font-color;
    border-radius: 10px;
    opacity: 0.3;
}

//Mise en forme de l'espace de presentation
.presentation { 
    padding-top: 175px;
}

//Mise en place de la navigation par onglet
.menu-onglet {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid aqua;
    width: 100%;
}

.onglet {
    width: 120px;
    border-radius: 20px;
    border-right: 2px solid aqua;
    border-left: 2px solid aqua;
    border-top: 2px solid aqua;
    background-color: aqua;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 10px 15px 0px;
    transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
    &:hover {
        text-decoration: underline;
        box-shadow: 2px 2px aqua;
    }
}

.active {
    background-color: white;
    color: aqua;
}

//Mise en page de l'espace produit
.produit {
    margin: 25px;
}

.item-produits {
	width: 80%;
    margin: 10px;
    padding: 10px;
    display: block;
	height: auto;
	text-align: center;
	border: 1px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6px;
    background-color: white;
    p {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.image-produit {
    display : block;
    height: 75px;
    border : 1px solid $font-bckgd;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

//mise en page de l'espace validation
.validation {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

//mise en page de l'espace footer
.content-footer {
    background-color: rgba(185, 185, 185, 0.7)
}
.espace-comm {
    background-color: #fff;
    margin: 25px;
    padding: 10px;
    border: 1px solid $font-bckgd;
    border-radius: 6px;
    text-align: center;
    h3 {
        color: $font-bckgd;
    }//end h3
    p {
        color: $font-bckgd;
        text-align: center;
        a {
            color: $font-bckgd;
            text-decoration: none;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
        }//end a
        a:hover {
            color: $font-color;
            text-shadow: 2px 2px $font-bckgd;
        }//end a:hover
    }//end p
}


/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 680px) {
    .header {
        height: 100%;
    }
    .content-avatar {
        position: fixed;
        right: 10px;
    }
    .recherche {
        display: none;
    }
}




