.connexion {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: $font-bckgd;
    border: 2px solid $font-color;
    border-radius: 6px;
    padding: 10px;
}

.mdp {
    font-size : 10px;
    color: blue;
    text-decoration: underline;
}

.validation {
    margin: 15px;
}



