.dash-body {
    background-image: url('img/background-accueil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;       
}

.img-profil{
    width: 75px;
    border-radius: 100%;
    border: 2px solid $font-bckgd;
}

//Mise en place du tableau cours
.cours-table {
    margin: 20px;
    padding: 10px;
    border: 1px solid $font-color;
    border-radius: 6px;
    vertical-align: middle;
    background-color: white;
    width: 90%;
    
}

.cours-ligne {
    border: 1px solid $font-color;
    border-radius: 6px;
    height: 20px;
    vertical-align: middle;
    background-color: white;
    
}

.cours-nom {
    width: 15%;
    color: red;
}

.cours-img {
    img {
        height: 25px;
    }
}

.dash-implication {
    padding-right: auto;
    padding-left: auto;
}

.perf {
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: 15px;
}

/*Description pour les grands ecrans*/
@media all {
    //Mise en page de l'espace header
    .dash-header {
        position: fixed;
        top: 75px;
        left: 0;
        widht: 10%;
        text-align: center;
        margin-bottom: 45px;
        margin-right: auto;
        h2 {
            @include font-H2();
            color: white;
            text-shadow: 3px 3px $font-color;
        }
        h4 {
            color: white;
        }
    }
    
    .dash-menu {
        margin-top: 45px;
        margin-left: 20px;
        text-align: left;
        ul {
        list-style-type: none;
            li {
                margin-top: 5px;
                a {
                    text-decoration: none;
                    color: white;
                    transition: all 1s;
                    -webkit-transition: all 1s;
                    -moz-transition: all 1s;
                    -o-transition: all 1s; 
                }//end a
                a:hover{
                    text-shadow: 1px 1px $font-bckgd;
                    color: $font-color;
                }//end a:hover
            }//end li
        }//end ul
    }//.dash-menu
    
    //Mise en place de l'espace content
    .dash-main-content {
        width: 80%;
        float: right;
        background-color: white;
        opacity: 0.7;  
    }
    
    //suppression des elements inutiles

    .dash-head {
        height: 0px;
    }
    .dash-header-responsive {
      display: none;
    }   
}

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 800px) {
    //Suppresssion des elements inutiles
    .dash-header {
        position: relative;
        display: none;
    }
    
    //Mise en place du menu
    .dash-main-content {
        width: 100%;
        float: none;
        position: relative;
        z-index: -100;
    }
    .dash-head {
        height: 80px;
    }
    .dash-header-responsive {
        display: inline-block;
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .menu-responsive {
        display: none;
        float: right;
        margin-top: -10px;
        margin-left: 25px;
    }
}










