* {
    padding:0;
    margin: 0;
}

/* Mise en place de l'image de fond*/
.accueilWeb {
    background-image: url('img/background-accueil.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/*description des boutons*/
.btn,
.btn:focus,
.btn:active,
.btn:visited {
    margin-top: 15px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: $font-autres;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-btn;
    border: 1px solid $font-btn;
    border-radius: 6px;
    background-color: transparent;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s; 
    &:hover {
        background-color: $font-btn;
        border: $font-bckgd;
        color: $font-bckgd;
    }
}

h3 {
    @include font-H3(); 
}

h4 {
    @include font-H4();
}

p  {
    @include paragraphe();
}

td {
    @include paragraphe();
}

tr {
    margin-top: 5px;
}

table {
    margin-top: 20px;
    vertical-align: middle;
}

input {
    border: 1px solid $font-color;
    border-radius: 6px;
    background-color: #d3d3d3;
    text-align: left;
}
