@mixin font-H1() {
    font-family: $font-titre;
    color: $font-color;
    text-shadow: 3px 3px $font-bckgd;
    font-size: 3 * $font-size;
    font-weight: 2 * $font-weight;
    margin-bottom: 25px;
    padding: 20px;
}

@mixin font-H2() {
    font-family: $font-titre;
    color: $font-color;
    font-size: 1.5 * $font-size;
    font-weight: 1.2 * $font-weight;
    line-height: 32px;
    text-align: center;
    text-shadow: 3px 3px $font-bckgd;
}

@mixin font-H3() {
    font-family: $font-paragraphe;
    color: $font-color;
    font-size: 1.3 * $font-size;
    font-weight: 1.1 * $font-weight;
    text-align: center;
    margin: 15px;
    &:after {
        content: "";
        widht: 250px;
        height: 1px;
        background-color: $font-btn;
        box-shadow: 1px 1px $font-btn-degrade;
        position: absolute;
        bottom: -15px;
    }
}

@mixin font-H4() {
    font-family: $font-paragraphe;
    color: $font-color;
    font-size: 1.2 * $font-size;
    font-weight: 1.1 * $font-weight;
    text-align: center;
    margin: 10px;
}

@mixin paragraphe() {
    font-family: $font-paragraphe;
    color: $font-color;
    font-size:  $font-size;
    font-weight:  $font-weight;
    line-height: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
}

