/*vararibles de font*/
$font-titre: Merriweather, Arial, serif;
$font-paragraphe: Source sans Pro, sans-serif;
$font-autres: Chicle, fantasy;



/*Variables de couleur*/
$font-color: #262525;
$font-btn: #ff0000;
$font-btn-degrade: #f7db04;
$font-bckgd: aqua;

/*varaibles de tailles*/
$font-size: 1rem;
$font-weight: 300;