/*vararibles de font*/
/*Variables de couleur*/
/*varaibles de tailles*/
@media all {
  /* line 2, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .container {
    display: grid;
    grid-templates-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flows: dense;
    width: 100%; }
  /* line 10, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-1 {
    grid-column-end: span 1; }
  /* line 14, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-2 {
    grid-column-end: span 2; }
  /* line 18, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-3 {
    grid-column-end: span 3; }
  /* line 22, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-4 {
    grid-column-end: span 4; }
  /* line 26, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-5 {
    grid-column-end: span 5; }
  /* line 30, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-6 {
    grid-column-end: span 6; }
  /* line 34, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-7 {
    grid-column-end: span 7; }
  /* line 38, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-8 {
    grid-column-end: span 8; } }

/* line 1, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
* {
  padding: 0;
  margin: 0; }

/* Mise en place de l'image de fond*/
/* line 7, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
.accueilWeb {
  background-image: url("img/background-accueil.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

/*description des boutons*/
/* line 17, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
.btn,
.btn:focus,
.btn:active,
.btn:visited {
  margin-top: 75px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Chicle, fantasy;
  font-size: 1rem;
  font-weight: 300;
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 6px;
  background-color: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s; }
  /* line 35, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
  .btn:hover,
  .btn:focus:hover,
  .btn:active:hover,
  .btn:visited:hover {
    background-color: #ff0000;
    border: aqua;
    color: aqua; }

/* line 42, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
h3 {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1.3rem;
  font-weight: 330;
  text-align: center;
  margin: 15px; }
  /* line 28, /home/eleve/Documents/Admin-Dashboard/scss/_mixins.scss */
  h3:after {
    content: "";
    widht: 250px;
    height: 1px;
    background-color: #ff0000;
    box-shadow: 1px 1px #f7db04;
    position: absolute;
    bottom: -15px; }

/* line 46, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
h4 {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1.2rem;
  font-weight: 330;
  text-align: center;
  margin: 10px; }

/* line 50, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
p {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1rem;
  font-weight: 300;
  line-height: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 2px;
  text-align: justify; }

/* line 54, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
td {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1rem;
  font-weight: 300;
  line-height: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 2px;
  text-align: justify; }

/* line 58, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
tr {
  margin-top: 5px; }

/* line 62, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
table {
  margin-top: 20px;
  vertical-align: middle; }

/* line 67, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
input {
  border: 1px solid #262525;
  border-radius: 6px;
  background-color: #d3d3d3;
  text-align: left; }

/* line 2, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.logo {
  width: 150px; }

/* line 6, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-navigation {
  position: fixed;
  top: 30px;
  right: 50px; }
  /* line 10, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  .accueil-navigation li {
    display: inline;
    margin: 10px;
    padding: 10px; }

/*Mise en place de la section centrale*/
/* line 18, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
#header {
  height: 300px; }

/* line 22, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.header-btn {
  margin: 50px; }

/* line 27, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-titre h1 {
  font-family: Merriweather, Arial, serif;
  color: #262525;
  text-shadow: 3px 3px aqua;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 20px; }

/* line 30, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-titre p {
  font-family: Merriweather, Arial, serif;
  color: #262525;
  font-size: 1.5rem;
  font-weight: 360;
  line-height: 32px;
  text-align: center;
  text-shadow: 3px 3px aqua; }

/* line 37, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
#formulaire {
  display: none; }

/* line 41, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  font-family: Chicle, fantasy;
  font-size: 14px;
  width: 100%; }
  /* line 49, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  .accueil-footer p {
    color: aqua; }

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 680px) {
  /* line 56, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  #header {
    height: 300px; }
  /* line 59, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  .accueil-navigation {
    position: relative;
    right: 0px;
    width: 100%; } }

/* line 1, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.connexion {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid aqua;
  border-radius: 6px; }

/* line 10, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.password {
  text-align: center; }

/* line 14, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.mdp {
  font-size: 10px;
  color: blue;
  text-decoration: none; }

/* line 20, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.mdp:hover {
  text-decoration: underline; }

/*.validation {
    margin: 10px;
}*/
/* line 28, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.form {
  margin-top: 35px;
  margin-bottom: 0; }

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 680px) {
  /* line 35, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
  .connexion {
    width: 90%; } }

/* line 1, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-body {
  background-image: url("img/background-accueil.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  margin: 0;
  padding: 0; }

/* line 13, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-header {
  position: fixed;
  top: 75px;
  left: 0;
  widht: 15%;
  text-align: center;
  margin-bottom: 45px;
  margin-left: 45px;
  margin-right: auto; }
  /* line 22, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-header h2 {
    font-family: Merriweather, Arial, serif;
    color: #262525;
    font-size: 1.5rem;
    font-weight: 360;
    line-height: 32px;
    text-align: center;
    text-shadow: 3px 3px aqua;
    color: white;
    text-shadow: 3px 3px #262525; }
  /* line 27, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-header h4 {
    color: white; }

/* line 32, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.img-profil {
  width: 75px;
  border-radius: 100%; }

/* line 37, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-menu {
  margin-top: 45px;
  margin-left: 20px;
  text-align: left; }
  /* line 41, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-menu ul {
    list-style-type: none; }
    /* line 43, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
    .dash-menu ul li {
      margin-top: 5px; }
      /* line 45, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
      .dash-menu ul li a {
        text-decoration: none;
        color: white;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s; }
      /* line 53, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
      .dash-menu ul li a:hover {
        text-shadow: 1px 1px aqua;
        color: #262525; }

/* line 63, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-main-content {
  width: 80%;
  float: right;
  background-color: white;
  opacity: 0.7; }

/* line 71, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-table {
  margin: 20px;
  padding: 10px;
  border: 1px solid #262525;
  border-radius: 6px;
  vertical-align: middle;
  background-color: white;
  width: 90%; }

/* line 82, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-ligne {
  border: 1px solid #262525;
  border-radius: 6px;
  height: 20px;
  vertical-align: middle;
  background-color: white; }

/* line 91, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-nom {
  width: 15%;
  color: red; }

/* line 97, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-img img {
  height: 25px; }

/* line 102, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-implication {
  padding-right: auto;
  padding-left: auto; }

/* line 107, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.perf {
  margin-top: 45px;
  margin-bottom: 25px;
  margin-left: 15px; }

/* line 2, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.header {
  background-image: url("img/background-accueil.jpg");
  background-attachment: fixed;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-top: 0px; }
  /* line 10, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .header h2 {
    font-family: Merriweather, Arial, serif;
    color: #262525;
    font-size: 1.5rem;
    font-weight: 360;
    line-height: 32px;
    text-align: center;
    text-shadow: 3px 3px aqua; }

/* line 16, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.entete {
  position: fixed;
  width: 100%; }

/* line 21, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.content-avatar {
  position: fixed;
  right: 50px;
  top: 25px; }
  /* line 25, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .content-avatar li {
    display: inline;
    margin: 10px;
    padding: 10px; }

/* line 32, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.imgHeader {
  height: 60px;
  border-radius: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s; }
  /* line 39, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .imgHeader:hover {
    box-shadow: 3px 3px #262525;
    height: 65px; }

/* line 46, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.presentation {
  padding-top: 175px; }

/* line 51, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.produit {
  margin: 25px; }

/* line 55, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.item-produits {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: block;
  height: auto;
  text-align: center;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  background-color: white; }
  /* line 68, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .item-produits p {
    margin-right: 5px;
    margin-left: 5px; }

/* line 74, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.image-produit {
  display: block;
  height: 75px;
  border: 1px solid aqua;
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 86, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.validation {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

/* line 96, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.espace-comm {
  margin: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */