@charset "UTF-8";
/*vararibles de font*/
/*Variables de couleur*/
/*varaibles de tailles*/
@media all {
  /* line 3, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .container {
    display: grid;
    grid-templates-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flows: dense;
    width: 100%; }
  /* line 11, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-1 {
    grid-column-end: span 1; }
  /* line 15, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-2 {
    grid-column-end: span 2; }
  /* line 19, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-3 {
    grid-column-end: span 3; }
  /* line 23, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-4 {
    grid-column-end: span 4; }
  /* line 27, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-5 {
    grid-column-end: span 5; }
  /* line 31, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-6 {
    grid-column-end: span 6; }
  /* line 35, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-7 {
    grid-column-end: span 7; }
  /* line 39, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-8 {
    grid-column-end: span 8; }
  /* line 45, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .container-form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-flows: dense;
    width: 100%; }
  /* line 53, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-2-form {
    grid-column-end: span 2; }
  /* line 57, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-4-form {
    grid-column-end: span 4; }
  /* line 61, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .col-8-form {
    grid-column-end: span 8; }
  /* line 66, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .cours-ligne {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%; }
  /* line 72, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .cours-nom {
    grid-column-end: span 1; }
  /* line 75, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .cours-img {
    grid-column-end: span 1; }
  /* line 78, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .cours-pourcentage {
    grid-column-end: span 1; }
  /* line 81, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .cours-moyenne {
    grid-column-end: span 1; }
  /* line 85, /home/eleve/Documents/Admin-Dashboard/scss/_grid.scss */
  .cours-avance {
    grid-column-end: span 4; } }

/* line 1, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
* {
  padding: 0;
  margin: 0; }

/* Mise en place de l'image de fond*/
/* line 7, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
.accueilWeb {
  background-image: url("img/background-accueil2.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

/*description des boutons*/
/* line 17, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
.btn,
.btn:visited {
  margin-top: 15px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: Chicle, fantasy;
  font-size: 1rem;
  font-weight: 300;
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 6px;
  background-color: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s; }
  /* line 33, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
  .btn:hover, .btn:active,
  .btn:visited:hover,
  .btn:visited:active {
    background-color: #ff0000;
    border: aqua;
    color: aqua; }

/* line 41, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
h2 {
  font-family: Merriweather, Arial, serif;
  color: #262525;
  font-size: 1.5rem;
  font-weight: 360;
  line-height: 32px;
  text-align: center;
  text-shadow: 3px 3px aqua; }
  /* line 19, /home/eleve/Documents/Admin-Dashboard/scss/_mixins.scss */
  h2:after {
    content: "";
    width: 250px;
    height: 2px;
    background-color: aqua;
    display: block;
    margin: 10px auto; }

/* line 45, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
h3 {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1.3rem;
  font-weight: 330;
  text-align: center;
  margin: 15px; }
  /* line 36, /home/eleve/Documents/Admin-Dashboard/scss/_mixins.scss */
  h3:after {
    content: "";
    width: 250px;
    height: 1px;
    background-color: #ff0000;
    display: block;
    bottom: -15px;
    margin: 10px auto; }

/* line 49, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
h4 {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1.2rem;
  font-weight: 330;
  text-align: center;
  margin: 10px; }

/* line 53, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
p {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1rem;
  font-weight: 300;
  line-height: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 10px; }

/* line 57, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
td {
  font-family: Source sans Pro, sans-serif;
  color: #262525;
  font-size: 1rem;
  font-weight: 300;
  line-height: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 10px; }

/* line 61, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
tr {
  margin-top: 5px; }

/* line 65, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
table {
  margin-top: 20px;
  vertical-align: middle; }

/* line 70, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
input {
  margin-top: 2px;
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: aqua;
  text-align: left; }
  /* line 77, /home/eleve/Documents/Admin-Dashboard/scss/_main.scss */
  input:focus {
    background-color: aqua; }

/* line 3, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.logo {
  width: 150px;
  align-self: center; }

/* line 8, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-navigation {
  position: fixed;
  top: 30px;
  right: 50px; }
  /* line 12, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  .accueil-navigation li {
    display: inline;
    margin: 10px;
    padding: 10px; }

/*Mise en place de la section centrale*/
/* line 20, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
#header {
  height: 300px; }

/* line 24, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.header-btn {
  margin: 50px; }

/* line 29, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-titre h1 {
  font-family: Merriweather, Arial, serif;
  color: #262525;
  text-shadow: 3px 3px aqua;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 20px; }

/* line 32, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-titre p {
  font-family: Merriweather, Arial, serif;
  color: #262525;
  font-size: 1.5rem;
  font-weight: 360;
  line-height: 32px;
  text-align: center;
  text-shadow: 3px 3px aqua; }
  /* line 19, /home/eleve/Documents/Admin-Dashboard/scss/_mixins.scss */
  .accueil-titre p:after {
    content: "";
    width: 250px;
    height: 2px;
    background-color: aqua;
    display: block;
    margin: 10px auto; }

/* line 37, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
#formulaire {
  display: none; }

/* line 41, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.hidden {
  display: none; }

/* line 45, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
.accueil-footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  font-family: Chicle, fantasy;
  font-size: 14px;
  width: 100%; }
  /* line 53, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  .accueil-footer p {
    color: aqua; }

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 680px) {
  /* line 60, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  #header {
    height: 300px; }
  /* line 63, /home/eleve/Documents/Admin-Dashboard/scss/_accueil.scss */
  .accueil-navigation {
    position: relative;
    right: 0px;
    width: 100%; } }

/* line 1, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.connexion {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid aqua;
  border-radius: 6px; }

/* line 10, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.password {
  text-align: center; }

/* line 14, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.mdp {
  font-size: 10px;
  color: blue;
  text-decoration: none; }

/* line 20, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.mdp:hover {
  text-decoration: underline; }

/*.validation {
    margin: 10px;
}*/
/* line 28, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
.form {
  margin-top: 35px;
  margin-bottom: 0; }

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 680px) {
  /* line 35, /home/eleve/Documents/Admin-Dashboard/scss/_connexion.scss */
  .connexion {
    width: 300px; } }

/* line 1, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-body {
  background-image: url("img/background-accueil2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  margin: 0;
  padding: 0; }

/* line 11, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.img-profil {
  width: 75px;
  border-radius: 100%;
  border: 2px solid aqua; }

/* line 22, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-table {
  vertical-align: middle;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

/* line 31, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-presentation p {
  text-align: center; }

/* line 36, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-ligne {
  border: 1px solid #262525;
  border-radius: 6px;
  height: 50px;
  vertical-align: middle;
  background-color: white; }

/* line 44, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-nom {
  width: 15%;
  color: red; }

/* line 50, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.cours-img img {
  height: 25px; }

/* line 55, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.dash-implication {
  padding-right: auto;
  padding-left: auto; }

/* line 60, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.perf {
  margin-top: 45px;
  margin-bottom: 25px; }

/* line 65, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.clock {
  background-color: white;
  box-shadow: 3px 3px black;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-behavior-y: auto; }

/* line 75, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.outil {
  background-color: white;
  box-shadow: 3px 3px black;
  border: 2px solid black;
  text-align: center;
  width: 450px;
  position: absolute;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-behavior-y: auto; }

/* line 89, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.input {
  width: 75px;
  text-align: right; }

/* line 94, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.table {
  margin-right: auto;
  margin-left: auto; }

/* line 99, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.table td {
  width: 25px;
  height: 15px;
  border: 1px solid black;
  margin: 2px;
  text-align: center;
  border-radius: 3px; }

/* line 108, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.formToDoList {
  margin-right: auto;
  margin-left: auto; }

/* Mise en page de l'espace ListItem */
/* line 124, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.tableList {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 350px;
  border: 1px solid black;
  box-shadow: 4px 4px black;
  border-radius: 6px; }

/* line 134, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.rowItem {
  height: 30px;
  margin: 5px;
  text-align: center;
  border-left: 1px dashed black; }

/* line 142, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnTrash {
  background-image: url("img/iconToDoList/garbage.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  width: 75px; }

/* line 150, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnIcon {
  width: 50px; }

/* line 154, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnTitre {
  width: 200px;
  font-size: 14px;
  text-align: left; }

/* line 160, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnPriorite {
  width: 25px;
  border-radius: 100%;
  margin-right: 5px; }

/* line 166, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnStatut {
  width: 50px;
  font-size: 14px; }

/* line 171, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnAjoutItem {
  color: blue;
  text-decoration: underline;
  font-size: 14px; }

/* line 178, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnAjoutItemInput {
  border: 1px solid black; }

/* line 182, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.hidden {
  display: none; }

/* line 186, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.barre {
  text-decoration: line-through; }

/* line 190, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.columnItemSecond {
  color: black;
  font-size: 12px;
  text-align: left;
  padding-left: 10px; }

/* définition des class couleurs pour les priorites */
/* line 198, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.red {
  background-color: red; }

/* line 202, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.orange {
  background-color: orange; }

/* line 206, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.yellow {
  background-color: yellow; }

/* line 210, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.green {
  background-color: green; }

/* line 215, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.blue {
  background-color: blue; }

/*Définition des icons de type de tache */
/* line 221, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.maison {
  background-image: url("img/iconToDoList/maison.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 228, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.alimentaire {
  background-image: url("img/iconToDoList/shopping.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 235, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.bricolage {
  background-image: url("img/iconToDoList/bricolage.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 242, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.voiture {
  background-image: url("img/iconToDoList/voiture.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 249, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.travail {
  background-image: url("img/iconToDoList/travail.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 256, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.vieSocial {
  background-image: url("img/iconToDoList/socialLife.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 263, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.autres {
  background-image: url("img/iconToDoList/autres.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%; }

/* line 272, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
h5 {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline; }

/* line 278, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
td {
  font-size: 12px; }

/* line 282, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
select {
  font-size: 12px; }

/* line 286, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
.btn-outil {
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px;
  text-decoration: none;
  font-family: Chicle, fantasy;
  font-size: 12px;
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 3px;
  background-color: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s; }
  /* line 305, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .btn-outil:hover, .btn-outil:active {
    background-color: #ff0000;
    border: aqua;
    color: aqua; }

/*Description pour les grands ecrans*/
@media all {
  /* line 317, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-header {
    position: fixed;
    top: 50px;
    left: 15px;
    width: 15%;
    text-align: center;
    margin: 45px auto;
    overflow-y: auto; }
    /* line 325, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
    .dash-header h2 {
      font-family: Merriweather, Arial, serif;
      color: #262525;
      font-size: 1.5rem;
      font-weight: 360;
      line-height: 32px;
      text-align: center;
      text-shadow: 3px 3px aqua;
      color: white;
      text-shadow: 3px 3px #262525; }
      /* line 19, /home/eleve/Documents/Admin-Dashboard/scss/_mixins.scss */
      .dash-header h2:after {
        content: "";
        width: 250px;
        height: 2px;
        background-color: aqua;
        display: block;
        margin: 10px auto; }
      /* line 329, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
      .dash-header h2:after {
        content: none; }
    /* line 333, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
    .dash-header h4 {
      color: white; }
  /* line 339, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-menu {
    margin-top: 45px;
    text-align: left; }
    /* line 342, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
    .dash-menu ul {
      list-style-type: none; }
      /* line 344, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
      .dash-menu ul li {
        margin-top: 5px; }
        /* line 346, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
        .dash-menu ul li a {
          text-decoration: none;
          color: white;
          transition: all 1s;
          -webkit-transition: all 1s;
          -moz-transition: all 1s;
          -o-transition: all 1s; }
        /* line 354, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
        .dash-menu ul li a:hover {
          text-shadow: 1px 1px aqua;
          color: #262525; }
  /* line 363, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-main-content {
    width: 80%;
    float: right;
    background-color: white;
    opacity: 0.7; }
  /* line 372, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-head {
    height: 0px; }
  /* line 375, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-header-responsive {
    display: none; } }

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 800px) {
  /* line 383, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-header {
    position: relative;
    display: none; }
  /* line 389, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-main-content {
    width: 100%;
    float: none;
    position: relative;
    z-index: -100; }
  /* line 395, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-head {
    height: 80px; }
  /* line 398, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .dash-header-responsive {
    display: inline-block;
    position: fixed;
    top: 15px;
    left: 15px; }
  /* line 404, /home/eleve/Documents/Admin-Dashboard/scss/_dashboard.scss */
  .menu-responsive {
    display: none;
    float: right;
    margin-top: -10px;
    margin-left: 25px; } }

/* line 2, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.header {
  background-image: url("img/background-accueil2.jpg");
  background-attachment: fixed;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-top: 0px; }
  /* line 10, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .header h2 {
    font-family: Merriweather, Arial, serif;
    color: #262525;
    font-size: 1.5rem;
    font-weight: 360;
    line-height: 32px;
    text-align: center;
    text-shadow: 3px 3px aqua; }
    /* line 19, /home/eleve/Documents/Admin-Dashboard/scss/_mixins.scss */
    .header h2:after {
      content: "";
      width: 250px;
      height: 2px;
      background-color: aqua;
      display: block;
      margin: 10px auto; }

/* line 16, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.entete {
  position: fixed;
  width: 100%; }

/* line 21, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.content-avatar {
  position: fixed;
  right: 50px;
  top: 35px; }
  /* line 25, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .content-avatar li {
    display: inline;
    margin: 10px;
    padding: 10px; }

/* line 32, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.recherche {
  vertical-align: top; }

/* line 36, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.imgHeader {
  height: 75px;
  border-radius: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s; }
  /* line 43, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .imgHeader:hover {
    box-shadow: 3px 3px #262525;
    height: 65px; }

/* line 49, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.menu-content {
  display: none;
  position: fixed;
  top: 80px;
  right: 35px;
  text-align: center;
  text-shadow: 1px 1px aqua;
  background-color: #262525;
  border-radius: 10px;
  opacity: 0.3; }

/* line 62, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.presentation {
  padding-top: 175px; }

/* line 67, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.menu-onglet {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 2px solid aqua;
  width: 100%; }

/* line 76, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.onglet {
  width: 120px;
  border-radius: 20px;
  border-right: 2px solid aqua;
  border-left: 2px solid aqua;
  border-top: 2px solid aqua;
  background-color: aqua;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 10px 10px 15px 0px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s; }
  /* line 91, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .onglet:hover {
    text-decoration: underline;
    box-shadow: 2px 2px aqua; }

/* line 97, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.active {
  background-color: white;
  color: aqua; }

/* line 103, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.produit {
  margin: 25px; }

/* line 107, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.item-produits {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: block;
  height: auto;
  text-align: center;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  background-color: white; }
  /* line 120, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .item-produits p {
    margin-right: 5px;
    margin-left: 5px; }

/* line 126, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.image-produit {
  display: block;
  height: 75px;
  border: 1px solid aqua;
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 138, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.validation {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

/* line 147, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.content-footer {
  background-color: rgba(185, 185, 185, 0.7); }

/* line 150, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
.espace-comm {
  background-color: #fff;
  margin: 25px;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 6px;
  text-align: center; }
  /* line 157, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .espace-comm h3 {
    color: aqua; }
  /* line 160, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .espace-comm p {
    color: aqua;
    text-align: center; }
    /* line 163, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
    .espace-comm p a {
      color: aqua;
      text-decoration: none;
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s; }
    /* line 171, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
    .espace-comm p a:hover {
      color: #262525;
      text-shadow: 2px 2px aqua; }

/*Description pour les ecrans tablette en paysage page accueil*/
@media all and (max-width: 680px) {
  /* line 181, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .header {
    height: 100%; }
  /* line 184, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .content-avatar {
    position: fixed;
    right: 10px; }
  /* line 188, /home/eleve/Documents/Admin-Dashboard/scss/_content.scss */
  .recherche {
    display: none; } }

/*# sourceMappingURL=style.css.map */